# Ignore Python cache and virtual environment files
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore dataset backups or logs
*.log
*.csv~

# Ignore saved models
# *.pkl
*.joblib

# OS-specific files
.DS_Store
Thumbs.db
